body.page-template-page-about{
	color: black;
	.page{
		background: #333;
		> *{
    	max-width: 900px;
    	margin: auto;
		}
	}
	nav{
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		z-index: 2;
	}
	#banner{
		width: 100vw;
		max-width: 900px;
		margin: 0 -10px 25px;
	}
	main{
		box-sizing: border-box;
		background: white;
		position: relative;
		padding: 57px 10px 25px;
    p:first-of-type{
    	margin-top: 0;
    }
    &.loaded{
    	figure,
    	p{
    		opacity: 1;
    	}
    	& + footer{
    		opacity: 1;
    	}
    }
    @media(min-width: 769px){
			padding: 25px 10px;
    }
	}
	p{
		opacity: 0;
		transition: opacity .5s;
	}
	figure{
		opacity: 0;
		transition: opacity .5s;
	}
	#me{
		width: 100px;
    margin-right: 15px;
    margin-bottom: 0;
    float: left;
		@media(min-width: 500px){
    	width: 150px;
	    margin-right: 25px;
		}
		img{
			width: 100%;
    	border-radius: 50%;
		}
	}
	footer{
		background: white;
		padding-bottom: 25px;
		opacity: 0;
		transition: opacity .5s;
		display: flex;
		justify-content: center;
		a{
			margin: 0 5px;
		}
	}
}