body.page-template-page-about{
	color: black;
	.page{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	nav{
    max-width: 670px;
		.about{ 
			display: none;
		}
	}
	section{
		position: relative;
		width: 90%;
		padding-top: 25px;
    max-width: 670px;
    p:first-of-type{
    	margin-top: 0;
    }
    &.loaded{
    	figure,
    	p{
    		opacity: 1;
    	}
    	& + footer{
    		opacity: 1;
    	}
    }
	}
	p{
		opacity: 0;
		transition: opacity .5s;
	}
	figure{
		opacity: 0;
		transition: opacity .5s;
		width: 100px;
    margin-right: 15px;
    margin-bottom: 5px;
    float: left;
		@media(min-width: 500px){
    	width: 150px;
	    margin-right: 25px;
	    margin-bottom: 25px;
		}
		img{
			width: 100%;
    	border-radius: 50%;
		}
	}
	footer{
		opacity: 0;
		transition: opacity .5s;
		display: flex;
		margin-bottom: 25px;
		width: 90%;
		max-width: 670px;
		justify-content: center;
		a{
			margin: 0 5px;
		}
	}
}