body.error404{
	text-align: center;
	.logo{
		margin-top: 10vh;
		text-transform: uppercase;
		font-size: 10vw;
		letter-spacing: 2px;
		@media(min-width: 769px){
			font-size: 3em;
			letter-spacing: 10px;
		}
		span{
			font-size: .8em;
		}
	}
	h2{
		font-weight: normal;
		font-size: .75em;
	}
}