@import 'about';
@import 'animates';
@import 'defines';
@import 'error';
@import 'nav';
@import 'loader';
@import 'photo';
@import 'post';
@import 'slides';
@import 'web';
@import 'write';

html{
	font-size: 1.6rem;
}
body{
	background: #eee;
	margin: 0;
}
a{
	cursor: pointer;
	text-decoration: none;
  color: inherit;
	transition: color .5s;
	&:hover{
		color: $blue !important;
	}
}
main a{
	color: $purple;
}
.link{
	color: inherit;
	cursor: pointer;
	transition: color .5s;
	&:hover{
		color: $blue;
	}
}
p{
	font-size: .8rem;
	line-height: 1.2rem;
}
div.page{
	background: white;
	position: absolute;
	width: 100%;
	min-height: 100%;
}
figure{
	margin: 0;
}
footer#social{
	background: white;
	padding-bottom: 25px;
	opacity: 0;
	transition: opacity .5s;
	display: flex;
	justify-content: center;
	a{
		margin: 0 5px;
	}
}
#end{
	background: black;
  color: white;
  display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	a:hover, .link:hover{
		color: skyblue;
	}
	#social{
		display: flex;
  	align-items: center;
  	font-size: .95em;
		a{
			color: white;
			margin: 5px;
			line-height: .5em;
		}
	}
	p{
		margin: 5px 10px;
		@media(max-width: 420px){
			font-size: .55em;
		}
	}
	#end-items{
		display: flex;
	}
}
@media(max-width: 618px){
	#end{
		#social{
		  flex-direction: column;
	    flex-wrap: wrap;
	    height: 102px;
	    width: 75px;
		}
		#end-items{
			flex-direction: column-reverse;
		}
	}
}