@import 'about';
@import 'animates';
@import 'defines';
@import 'error';
@import 'nav';
@import 'loader';
@import 'photo';
@import 'post';
@import 'slides';
@import 'web';
@import 'write';

html{
	font-size: 1.6rem;
}
body{
	background: #eee;
	margin: 0;
}
a{
	cursor: pointer;
	text-decoration: none;
  color: inherit;
	transition: color .5s;
	&:hover{
		color: $blue !important;
	}
}
main a{
	color: $purple;
}
.link{
	color: inherit;
	cursor: pointer;
	transition: color .5s;
	&:hover{
		color: $blue;
	}
}
p{
	font-size: .8rem;
	line-height: 1.2rem;
}
div.page{
	background: white;
	position: absolute;
	width: 100%;
	min-height: 100%;
}
figure{
	margin: 0;
}