body.home{
	font-family: Palatino Linotype, sans-serif;
	color: transparent;
	letter-spacing: 1px;
	font-size: .75em;
	.page{
		background-position: 50% 50%;
		background-size: cover;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		&.loaded{
			nav{
				animation-name: smoky-reveal;	
			}
			.logo{
				animation-name: smoky-reveal;
			}
			.recent{
				animation-name: smoky-reveal;
			}
			article{
				animation-name: article-reveal;
			}
			img{
				animation-name: image-reveal;
			}
		}
	}
	.logo{
		text-transform: uppercase;
		font-size: 10vw;
		letter-spacing: 2px;
		animation-duration: 2s;
		animation-fill-mode: forwards;
		margin-top: auto;
		@media(min-width: 600px){
			font-size: 3em;
			letter-spacing: 10px;
		}
		span{
			font-size: .8em;
		}
	}
	.logo ~ *{
		display: flex;
		justify-content: center;
		width: 100%;
		max-width: 400px;
	}
	nav{
		margin-top: 50px;
		margin-bottom: 50px;
		font-size: 1.25em;
		animation-delay: 1s;
		animation-duration: 1s;
		animation-fill-mode: forwards;
		header{
			display: none;
		}
		.menu{
			display: flex;
			width: 90%;
			justify-content: space-around;
			#hamburger{
				display: none;
			}
			a:hover{
				color: inherit;
			}
		}
	}
	.recent{
		font-size: 1em;
		flex-direction: column;
		margin-bottom: 25px;
		animation-delay: 1.5s;
		animation-duration: 1s;
		animation-fill-mode: forwards;
		h5{
			text-align: center;
			font-style: italic;
			font-weight: normal;
			margin: 0;
		}
		article{
			display: flex;
			animation-delay: 1.5s;
			animation-duration: 1s;
			animation-fill-mode: forwards;
		}
		p{
			align-self: center;
			font-size: .8em;
			margin: 0 10px;
		}
		a{
			margin: 5px 0;
			transition: background-color .5s;
			&:hover,
			&:active{
				color: inherit;
				background-color: rgba(255,255,255,0.25);
			}
		}
		img{
			opacity: 0;
			width: 75px;
			height: 75px;
			animation-delay: 1.5s;
			animation-duration: 1s;
			animation-fill-mode: forwards;
		}
	}
}