body:not(.home) nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 90%;
	font-size: .8rem;
	header{
		padding: 10px 10px 10px 0;
	}
	.menu{
    display: flex;
    justify-content: space-between;
    width: 200px;
		padding: 10px;
	}
	header{
		letter-spacing: 2px;
		font-size: 1.25rem;
		span{
			font-size: .8em;
		}
	}
}