body.page-template-page-photo, 
body.single-photo{
	$nav-width: 225px;
	nav{
		position: fixed;
		z-index: 1;
		#description{
			margin: 1em 0;
			font-size: 14px;
			width: 100%;
		}
		footer{
			display: none;
		}
	}
	#thumbnails{
		position: relative;
		img{
			width: 100%;
		}
		figure{
			opacity: 0;
			transition: opacity .5s;
			margin: 5px 0 15px;
			@media(max-width: 768px){
		    position: relative !important;
		    left: auto !important;
		    top: auto !important;
			}
		}
		figcaption{
			font-size: .5em;
			color: gray;
			padding-left: 5px;
		}
		&.loaded figure{
			opacity: 1;
			&.added{
				opacity: 0;
				&.loaded{
					opacity: 1;
				}
			}
		}
	}
	@media(min-width: 769px){
		nav{
			width: $nav-width;
			text-align: center;
			box-shadow: 0 0 5px #333;
			background: white;
	    top: 0;
	    bottom: 0;
	    animation-name: none !important;
			.floating-content{
					flex-direction: column;
			    width: $nav-width;
			}
			header{
				padding: 10px 0;
			}
			.menu{
				width: 150px;
			}
			footer{
				display: block;
    		width: 100%;
				opacity: 0;
				transition: opacity .5s;
				&.on{
					opacity: 1;
				}
			}
			h4{
				margin: 20px 0 10px;
				font-weight: 400;
			}
			#controls{
				font-size: .75em;
				span{
					cursor: pointer;
					transition: color .5s;
					&:hover{
						color: $blue;
					}
				}
				p{
					font-size: 1em;
					margin: 0;
					span{
						color: $green;
					}
					.off{
						color: $crimson;
					}
				}
			}
		}
		main{
			max-width: 1500px;
			margin-left: $nav-width;
			overflow-y: scroll;
		}
		#thumbnails{
			padding: 7.5px 10px;
			transition: max-height .5s, opacity .33s linear;
			overflow-x: hidden;
			&.closed{
				max-height: 0 !important;
				padding: 0;
				opacity: 0;
			}
			#loader{
				left: 5px;
			}
			figure{
				cursor: pointer;
				font-size: 0;
				overflow: hidden;
				width: calc(50% - 12.5px);
				margin: 2.5px 0;
				img{
					@media screen and (-webkit-min-device-pixel-ratio:0) { 
						transform: translateZ(0);
					}
					transition: transform .5s;
				}
				&:hover{
					img{
						transform: scale3d(1.1, 1.1, 1.1);
					}
				}
			}
			figcaption{
				display: none;
			}
			#end{
				display: none;
			}
		}
	}
	@media(min-width: 1025px){
		#thumbnails figure{
			width: calc(33.33% - 9.67px);
		}
	}
}