body.page-template-page-photo, 
body.single-photo{
	nav{
		#description{
			margin: 1em 0;
			font-size: 14px;
		}
		footer{
			display: none;
		}
	}
	#thumbnails{
		position: relative;
		img{
			width: 100%;
		}
		figure{
			opacity: 0;
			transition: opacity .5s;
			margin: 5px 5px 15px;
			@media(max-width: 768px){
		    position: relative !important;
		    left: auto !important;
		    top: auto !important;
			}
		}
		figcaption{
			font-size: .5em;
			color: gray;
			padding-left: 5px;
		}
		&.loaded figure{
			opacity: 1;
		}
	}
	@media(min-width: 769px){
		.page{
			display: flex;
		}
		nav{
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			flex-wrap: nowrap;
			width: 225px;
			height: auto;
			padding: 10px;
			box-sizing: border-box;
			text-align: center;
			box-shadow: 0 0 5px gray;
			header{
				padding: 10px 0;
			}
			.menu{
				width: 150px;
			}
			footer{
				display: block;
    		width: 100%;
				opacity: 0;
				transition: opacity .5s;
				&.on{
					opacity: 1;
				}
			}
			h4{
				margin: 20px 0 10px;
				font-weight: 400;
			}
			#controls{
				font-size: .75em;
				span{
					cursor: pointer;
					transition: color .5s;
					&:hover{
						color: $blue;
					}
				}
				p{
					font-size: 1em;
					margin: 0;
					span{
						color: $green;
					}
					.off{
						color: $crimson;
					}
				}
			}
		}
		main{
			max-width: 1500px;
			flex: auto;
			overflow-y: scroll;
		}
		#thumbnails{
			padding: 10px;
			transition: max-height .5s, opacity .33s linear;
			overflow-x: hidden;
			column-count: 2;
			column-gap: 5px;
			@media(min-width: 1025px){
				column-count: 3;
			}
			&.closed{
				max-height: 0 !important;
				padding: 0;
				opacity: 0;
			}
			#loader{
				left: 5px;
			}
			figure{
				display: inline-block;
				cursor: pointer;
				margin: 0;
				font-size: 0;
				overflow: hidden;
				img{
					@media screen and (-webkit-min-device-pixel-ratio:0) { 
						transform: translateZ(0);
					}
					transition: transform .5s;
				}
				&:hover{
					img{
						transform: scale3d(1.1, 1.1, 1.1);
					}
				}
			}
			figcaption{
				display: none;
			}
		}
	}
}