body.single-post{
	&.slide{
		overflow: hidden;
	}
	.page{
		height: auto;
		overflow: hidden;
		background: #333;
	}
	nav{
		position: absolute;
		max-width: 900px;
		margin: auto;
		left: 0;
		right: 0;
		z-index: 2;
		#back-button{
			margin-top: 12.5px;
    	font-size: 1.5em;
		}
		#categories{
			display: none;
		}
	}
	main{
		max-width: 900px;
		padding: 57px 10px 0;
		position: relative;
		margin: auto;
		box-sizing: border-box;
		background: white;
		header{
			padding: 25px 0 5px;
			h1{
				margin: 0;
				font-size: 1em;
			}
			p{
				margin: 0 0 0 auto;
				display: flex;
				align-items: center;
				> a{
					margin-left: 5px;
				}
			}
			span{
				margin-left: 15px;
		    font-size: .75em;
		    color: #666;
		    a{
		    	color: inherit;
		    	&:hover,
		    	&:focus{
		    		color: #999;
		    	}
		    }
		    i{
		    	position: relative;
		    	top: 2px;
		    }
			}
		}
		footer{
			> h5{
				margin: 25px 0 0;
				border-bottom: solid 1px #AAA;
				padding-bottom: 10px;
			}
			.tag-line{
				span{
					font-weight: bold;
				}
				a{
					font-size: .75em;
			    padding: 5px 10px;
			    border-radius: 10px;
			    border: solid 1px;
			    margin-right: 5px;
			    margin-bottom: 5px;
			    display: inline-block;
			    &:last-of-type{
			    	margin: 0;
			    }
				}
			}
			article{
				border-bottom: solid 1px #AAA;
				display: flex;
				padding: 20px 0;
				div{
					padding-right: 20px;
				}
				h5{
					margin: 0;
				}
				p{
					margin: 0;
					font-size: .55em;
				}
			}
			figure{
				width: 150px;
				display: flex;
				align-items: center;
				margin-left: auto;
				img{
					margin: auto;
				}
			}
			> a:last-of-type article{
				border: none;
			}
			#story-container{
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 20px 0;
				h6{
					margin: 0 0 20px;
					font-style: italic;
				}
				.story-item{
					display: flex;
			    flex-direction: column;
			    align-items: center;
			    width: 100%;
			    a{
			    	width: 100%;
			    	height: calc(100vw * .67);
			    }
				}
				figure{
					position: relative;
					flex-direction: column;
					justify-content: center;
					background-size: cover;
					background-position: 50%;
					width: 100%;
					height: 100%;
					&:hover .overlay{
						background-color: rgba(0,0,0,.5);
					}
				}
				figcaption{
					z-index: 1;
					color: white;
					margin: 10px;
					text-align: center;
				}
				.overlay{
					background-color: rgba(0,0,0,.25);
					transition: background-color .5s;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
				}
				@media(max-width: 619px){
					.story-item + .story-item{
						margin-top: 20px;
						flex-direction: column-reverse;
						h6{
							margin: 20px 0 0;
						}
					}
				}
				@media(min-width: 620px){
					flex-direction: row;
					justify-content: center;
					&.two-stories{
						justify-content: space-between;
					}
					.story-item{
				    width: 300px;
				    a{
				    	width: 100%;
				    	height: 200px;
				    }
					}
					figcaption{
						font-size: .75em;
					}
				}
			}
		}
	}
	#content{
		iframe{
			max-width: 800px;
			display: block;
			margin: auto;
		}
		> *{
			font-size: .75em;
		}
		p{
			font-size: .66em;
		}
	}
	.gallery{
		margin: 0 -10px;
		figure{
			margin-bottom: 5px;
		}
		figcaption{
			padding-left: 10px;
			h4{
				font-size: .67em;
				margin: 0;
				font-weight: normal;
				color: gray;
				&:last-child{
					margin: 0 0 10px;
				}
			}
			p{
				margin: 0;
				font-size: .6em;
				color: #333;
			}
		}
		img{
			width: 100%;
		}
	}
	#end{
		margin-left: -10px;
	}
	#banner{
		display: block;
		width: 100vw;
		max-width: 900px;
		margin: 0 -10px;
		&.square{
			margin: auto;
			height: 100vw;
			max-width: 450px;
			max-height: 450px;
		}
		img{
			width: 100%;
			height: 100%;
		}
		figcaption{
			font-size: .5em;
		}
	}
	@media(max-width: 450px){
		#banner.square{
			margin: 0 -10px;
		}
	}
	@media(min-width: 769px){
		nav{
			.menu{
				width: 300px;
				#searchform{
					width: 100px;
			    padding: 0 5px;
			    height: 30px;
				}
			}
		}
		.page{
			justify-content: center;
		}
		#banner{
			&.square{
				height: 500px;
				width: 500px;
			}
		}
		#slides{
			position: fixed;
			width: 100vw;
			z-index: -1;
			opacity: 0;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: white;
			transition: opacity .5s;
			display: flex;
			flex-direction: column;
			align-items: center;
			&.on{
				z-index: 2;
				opacity: 1;
			}
			img{
				max-height: 80vh;
			}
			footer{
				height: 20vh;
				display: flex;
		    flex-direction: column;
		    justify-content: space-around;
		    align-items: center;
		    h4{
		    	margin: 0;
		    }
		    p{
		    	margin: 0;
		    }
		    #controls{
		    	color: #777;
		    	font-size: .5em;
		    	span{
		    		cursor: pointer;
		    		transition: color .5s;
		    		&:hover{
		    			color: $blue;
		    		}
		    	}
					p{
						text-align: center;
						font-size: 1em;
						margin: 0;
						span{
							color: $green;
						}
						.off{
							color: $crimson;
						}
					}
		    }
			}
		}
		.gallery{
			display: flex;
			flex-wrap: wrap;
			margin: 0 -5px;
			figure{
				cursor: pointer;
    		margin-right: 5px;
    		margin-bottom: 0;
    		overflow: hidden;
    		position: relative;
    		.overlay{
    			background-color: transparent;
			    transition: background-color .5s;
			    position: absolute;
			    top: 0;
			    left: 0;
			    right: 0;
			    bottom: 5px;
    		}
				&:nth-of-type(3n + 0){
					margin-right: 0;
				}
				&:hover{
					.overlay{
						background-color: rgba(0,0,0,.15);
					}
				}
			}
			img{
				max-width: calc((100vw - 12px) * .33);
			}
			figcaption{
				display: none;
			}
		}
	}
	@media(min-width: 900px){
		#banner{
			width: 900px;
		}
		.gallery{
			img{
				max-width: 293.3px;	
			}
		}
		#end{
			margin-left: calc(((100vw - 900px) / -2) - 10px);
		}
	}
	/* wp core post styles */
	.alignnone {
	    margin: 5px 20px 20px 0;
	}

	.aligncenter,
	div.aligncenter {
	    display: block;
	    margin: 5px auto 5px auto;
	}

	.alignright {
	    float:right;
	    margin: 5px 0 20px 20px;
	}

	.alignleft {
	    float: left;
	    margin: 5px 20px 20px 0;
	}

	a img.alignright {
	    float: right;
	    margin: 5px 0 20px 20px;
	}

	a img.alignnone {
	    margin: 5px 20px 20px 0;
	}

	a img.alignleft {
	    float: left;
	    margin: 5px 20px 20px 0;
	}

	a img.aligncenter {
	    display: block;
	    margin-left: auto;
	    margin-right: auto
	}

	.wp-caption {
	    background: #fff;
	    border: 1px solid #f0f0f0;
	    max-width: 96%; /* Image does not overflow the content area */
	    padding: 5px 3px 10px;
	    text-align: center;
	}

	.wp-caption.alignnone {
	    margin: 5px 20px 20px 0;
	}

	.wp-caption.alignleft {
	    margin: 5px 20px 20px 0;
	}

	.wp-caption.alignright {
	    margin: 5px 0 20px 20px;
	}

	.wp-caption img {
	    border: 0 none;
	    height: auto;
	    margin: 0;
	    max-width: 98.5%;
	    padding: 0;
	    width: auto;
	}

	.wp-caption p.wp-caption-text {
	    font-size: 14px;
	    line-height: 17px;
	    margin: 0;
	    padding: 0 4px 5px;
	}

	/* Text meant only for screen readers. */
	.screen-reader-text {
		clip: rect(1px, 1px, 1px, 1px);
		position: absolute !important;
		height: 1px;
		width: 1px;
		overflow: hidden;
	}

	.screen-reader-text:focus {
		background-color: #f1f1f1;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: #21759b;
		display: block;
		font-size: 14px;
		font-size: 0.875rem;
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}