body.page-template-page-web{
	color: black;
	.page{
		background: #333;
		> *{
    	max-width: 900px;
    	margin: auto;
		}
	}
	nav{
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		z-index: 2;
	}
	#banner{
		width: 100vw;
		max-width: 900px;
		margin: 0 -10px 25px;
	}
	#blurb{
		margin: -20px 0 10px;
	}
	main{
		background: white;
		box-sizing: border-box;
		width: 100%;
		position: relative;
		padding: 57px 10px 25px;
		@media(max-width: 620px){
			justify-content: center;
		}
		&.loaded{
			figure{
				opacity: 1;
			}
    	& + #social{
    		opacity: 1;
    	}
		}
	}
	#portfolio{
		margin: 0 -10px;
		figure{
	    cursor: pointer;
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: center;
	    height: 70px;
	    transition: opacity .5s, height .5s;
	    border-top: solid 5px;
	    &.on{
	    	height: calc(100vw / 2);
	    	@media(min-width: 900px){
	    		height: 450px;
	    	}
	    	+ figcaption{
	    		display: block;
	    	}

	    }
	    &:last-of-type{
	    	border-bottom: solid 5px;
	    	&.on{
	    		border-bottom: 0;
	    	}
	    }
		}
		header{
			line-height: 70px;
	    padding: 0 10px;
	    background: white;
	    display: inline-block;
	    position: relative;
	    border-bottom: solid 5px;
	    &::after{
	    	content: '';
		    transform: skew(-5deg);
		    height: 70px;
		    width: 5px;
		    background: white;
		    border-right: 5px solid black;
		    position: absolute;
		    right: -3px;
		    top: 0;
	    }
		}
		figcaption{
			background: white;
			display: none;
			padding: 10px 0;
			&:last-of-type{
				border-bottom: solid 5px;
			}
		}
	}
	figure{
		opacity: 0;
		transition: opacity .5s;
	}
}