$nav-width: 225px;
body.blog,
body.search-results,
body.archive{
	section{
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
		padding: 5px 10px;
		position: relative;
		background: white;
		&.loaded figure{
			opacity: 1;
		}
		> h4{
			width: 100%;
	    margin: 0 5px;
	    font-style: italic;
	    font-size: .65em;
		}
		a{
			margin: 5px 0;
			width: 100%;
		}
		figure{
			position: relative;
			opacity: 0;
			transition: opacity .5s;
			background-size: cover;
			background-position: 50%;
			height: calc(100vw * .67);
			display: flex;
			align-items: center;
			justify-content: center;
			overflow: hidden;
			figcaption{
				z-index: 1;
				color: white;
			}
			.overlay{
				background-color: rgba(0,0,0,.25);
				transition: background-color .5s;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}
		}
		#post-loader{
			flex: 0 1 100%;
			margin: 10px 0;
			text-align: center;
		}
	}
	@media(min-width: 769px){
		.page{
			display: flex;
			flex-direction: row-reverse;
		}
		section{
			flex: auto;
			overflow-y: scroll;
		}
		nav{
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			flex-wrap: nowrap;
			width: $nav-width;
			height: auto;
			padding: 10px;
			box-sizing: border-box;
			text-align: center;
			box-shadow: 0 0 5px gray;
			position: relative;
			z-index: 2;
			header{
				padding: 10px 0;
			}
			.menu{
				width: 150px;
				flex-wrap: wrap;
			}
			.search-form{
				width: 75%;
				margin: auto;
				input{
					width: 100px;
			    font-size: .67em;
			    padding: 5px;
			    margin: 20px auto 0;
				}
			}
		}
		section{
			figure{
				width: 100%;
				height: calc((100vw - #{$nav-width}) * 0.5);
				&:hover .overlay{
					background-color: rgba(0,0,0,.5);
				}
			}
		}
	}
	@media(min-width: 1024px){
		section{
			a{
				flex: none;
				width: calc(50% - 5px);
				margin: 5px 5px;
				&:nth-of-type(even){
					margin-right: 0;
				}
				&:nth-of-type(odd){
					margin-left: 0;
				}
			}
			figure{
				height: calc((100vw - 10px - #{$nav-width}) * 0.25);
			}
		}
	}
}